<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
        <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.bootstrap5.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.colVis.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.html5.js"></script>

        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.4/css/buttons.bootstrap5.min.css">
        <title>Address Validator</title>
    </head>
    <body>
       <div class='main'>
            <h1>Upload your address book:</h1>
            <form id="form" enctype="multipart/form-data" name="file_upload">            
                <input id="selector" name="csv" type="file" accept=".csv"/><br>
                <div id="wheel" style="display:none;">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
                <input type="submit" value="Submit"/>
            </form>
        </div>
        <div class="main" id='table_div'>
        </div>
        <script>
            form.addEventListener(
                "submit",
                (event) => {
                    event.preventDefault();
                    let form = document.forms.file_upload;
                    let post = new FormData();
                    let selector = document.getElementById("selector");
                    var files = selector.files;
                    post.append("csv", files[0], files[0].name);
                    document.getElementById("wheel").style.display = "block";
                    const url = "./validate"
                    let xhr = new XMLHttpRequest()
                    xhr.open('POST', url, true)
                    xhr.onload = function () {
                        if(xhr.status === 200) {
                            console.log("success");
                            let data = JSON.parse(xhr.response);
                            document.getElementById("wheel").style.display = "none";
                            document.getElementById("wheel").style.width = "100%";
                            document.getElementById("table_div").innerHTML = data.data;
                            document.getElementById("table").class = "display compact table table-striped";
                            console.log(document.getElementById("table"));
                            $('#table').DataTable( {
                                    dom: 'Bfrtip',
                                    buttons: [
                                        'copyHtml5',
                                        'excelHtml5',
                                        'csvHtml5',
                                        'pdfHtml5',
                                        'colvis'
                                    ],
                                    scrollY: "45%",
                                    scrollX: "75%",
                            } );
                            console.log(document.getElementById("table"));
                        }
                    }
                    xhr.send(post);
                },
                false
            );
        </script>
 
    </body>
</html>
